/*Control pannel position, animations and buttons*/
.control-panel {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4D453A;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.7);
    animation-name: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: white;
    text-align: center;
}

.control-panel:hover {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.control-panel .header {
    font-size: 20px;
}

.control-panel .header span {
    vertical-align: super;
    padding-left: 15px;
}

@keyframes slide-up {
    from {height: 5%;}
    to {height:15%;}
}

@keyframes slide-down {
    from {height: 15%;}
    to {height: 5%;}
}

.control-panel .controls-layout .control{
    display: inline-block;
    padding: 1% 5%;

}
.control-panel .controls-layout .control .fa{
    cursor: pointer;
    opacity: 0.5;
}

.control-panel .controls-layout .control .fa:hover{
    opacity: 1;
}

.control-panel .controls-layout .control .fa-chevron-circle-up{
    display: block;
    margin-bottom: 3px;
}
