/*Control pannel position and buttons*/
.control-panel {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4D453A;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.7);
    animation: slide-down 1s forwards;
    color: white;
    text-align: center;
    -webkit-user-select: none;
}

.control-panel:hover {
    animation: slide-up 0.5s forwards;
}

.control-panel .header {
    font-size: 20px;
}

.control-panel .header span {
    vertical-align: super;
    padding-left: 15px;
}

.control-panel .controls-layout .control{
    display: inline-block;
    padding: 1% 5%;
    vertical-align: middle;
}

.control-panel .controls-layout .control .fa{
    cursor: pointer;
    opacity: 0.5;
}

.control-panel .controls-layout .control .fa:hover{
    opacity: 1;
}

.control-panel .controls-layout .control.larger{
    font-size: 25px;
}

.control-panel .controls-layout .control .fa-chevron-circle-up{
    display: block;
    margin-bottom: 3px;
}

div.control-panel.wiggle{
    animation: wiggle 1s infinite;
}

@media screen and (max-width: 768px) {
    /*No hiding control panel on mobile*/
    .control-panel, .control-panel:hover {
        animation: none;
    }
    /*Inline thermometer controls on mobile*/
    .control-panel .controls-layout .control.larger .fa{
        display: inline-block;;
        padding: 10px;
    }
}
