/*Main space CSS*/
body {
    margin: 0;
    font-family: sans-serif;
}

.background-room {
    position: relative;
}

.background-room .room-image {
    max-width: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.rotate {
    animation: rotate 2s infinite;
}

/*Light CSS*/
#lamp-light {
    position: absolute;
    top: 22%;
    left: 18%;
    transform: rotate(180deg);
    color: yellow;
    opacity: 0.3;
}

#lamp-light.light-open {
    opacity: 1;
}

/*Thermometer CSS*/
#thermometer {
    position: fixed;
    top: 5%;
    right: 13%;
}
#thermometer img{
    zoom: 30%;
}

#thermometer .quicksilver {
    width: 10px;
    position: absolute;
    bottom: 40px;
    left: 8px;
    background: linear-gradient(yellow,orange, #CC0000);
    border-radius: 10px;
}

/*Cloud CSS*/
#cloud{
    position: fixed;
    top: -1000px;
    left: -1000px;
}

#cloud.move{
    animation: rain 3s;
}

#cloud img{
    zoom: 40%;
}

/*Curtain CSS*/
#curtain{
    z-index: 999;
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 2%;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.8);
    animation: move-up 2s forwards;
}

#curtain.move-down {
    animation: move-down 2s forwards;
}

#curtain img {
    max-width: 100%;
}

#curtain.wiggle {
    animation: wiggle 1s infinite;
}

@media screen and (max-width: 768px) {
    /*Smaller cloud on mobile*/
    #cloud {
        zoom: 40%%;
    }
    /*Move lamp light slightly to the left on mobile*/
    #lamp-light {
        left: 15%;
    }
}
