/*Main space*/
body {
    margin: 0;
    font-family: sans-serif;
}

.background-room {
    position: relative;
}

.background-room .room-image {
    max-width: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

/*Light CSS*/
#lamp-light {
    position: absolute;
    top: 22%;
    left: 18%;
    transform: rotate(180deg);
    color: yellow;
    opacity: 0.3;
}

#lamp-light.light-open {
    opacity: 1;
}

/*Thermometer CSS*/
#thermometer {
    position: absolute;
    top: 5%;
    right: 13%;
}
#thermometer img{
    zoom: 30%;
}

#thermometer .quicksilver {
    width: 10px;
    position: absolute;
    bottom: 40px;
    left: 8px;
    background: linear-gradient(yellow,orange, #CC0000);
    border-radius: 10px;
}

/*Cloud CSS*/
#cloud{
    position: absolute;
    top: -1000px;
    left: -1000px;
}

#cloud.move{
    animation-name: rain;
    animation-duration: 3s;
}

#cloud img{
    zoom: 40%;
}

@keyframes rain {
    0%   {left:0; top:0;}
    40%  {left:85%; top:15%;}
    60%  {left:85%; top:15%;}
    100% {left:1500px; top:-1000px;}
}

/*Curtain CSS*/
#curtain{
    z-index: 999;
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 2%;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.8);
    animation-name: move-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#curtain.move-down {
    animation-name: move-down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#curtain img {
    max-width: 100%;
}

@keyframes move-down {
    from {height: 2%;}
    to {height: 60%;}
}

@keyframes move-up {
    from {height: 60%;}
    to {height: 2%;}
}

.rotate {
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg);  }
}

#curtain.wiggle, .control-panel.wiggle {
    animation: wiggle 1s infinite;
}

.control-panel.wiggle:hover {
    animation: wiggle 1s infinite;
    height:15%;
}

@keyframes wiggle {
    0% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg);  }
    100% { transform: rotate(-1deg);  }
}
