/*Photo frames and frame container alignment on top of the background picture frames*/
#photo-frames{
    position: absolute;
    top: 4%;
    left: 33%;
    height: 24%;
    width: 23%;
}

#photo-frames > div{
    position: absolute;
    background-size: cover;
}

.frame-large{
    width: 38%;
    height: 23%;
}

#photo-left-1{
    left: 7%;
    top: 7%;
}
#photo-left-2{
    left: 7%;
    top: 40%;
    width: 18%;
    height: 23%;
}
#photo-left-3{
    left: 7%;
    top: 74%;
}

#photo-right-1{
    right: 3%;
    top: 6%;
}

#photo-right-2{
    right: 3%;
    top: 40%;
    width: 25%;
    height: 23%;
}

#photo-right-3{
    right: 3%;
    top: 74%;
}

#photo-round {
    left: 37%;
    top: 40%;
    border-radius: 100%;
    height: 23%;
    width: 24%;
}
